*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #474747;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 10vh 90vh min-content repeat(3, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] 1fr [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3A3A3A; }

.about__content__paragraph--1, .about__content__paragraph--2, .about__content__paragraph--3 {
  font-size: 1.8rem;
  color: #474747; }

.heading-1 {
  font-size: 4.2rem;
  font-weight: 500; }

#logo {
  font-size: 1.5rem; }

li {
  font-size: 1.5rem; }

.header {
  grid-column: center-start / center-end;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  .header__nav__list {
    display: flex; }
    .header__nav__list--element {
      margin-left: 6rem;
      list-style: none;
      transition: .3s ease-in-out;
      cursor: pointer; }
      .header__nav__list--element:hover {
        color: #575edb; }

.about {
  grid-column: center-start / center-end;
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(45vh 45vh);
  border: 1px solid black; }
  .about__bio--welcome {
    display: flex;
    justify-content: center;
    align-items: center; }
  .about__bio--img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 5vh); }
    .about__bio--img img {
      grid-row: 2 / 9;
      grid-column: 2 / 6;
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      border-radius: 5px; }

#github-header-link a {
  text-decoration: none;
  color: #575edb;
  transition: .3s ease-in-out; }
  #github-header-link a:hover {
    color: #9498e8; }

.skills {
  grid-column: center-start / center-end;
  grid-row: 3; }

.portfolio {
  grid-column: center-start / center-end;
  grid-row: 4; }

.contact {
  grid-column: center-start / center-end;
  grid-row: 5; }

.footer {
  grid-column: center-start / center-end;
  grid-row: 6; }
