.about {
    grid-column: center-start / center-end;
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(45vh 45vh);
    border: 1px solid black;

    &__bio {

        &--welcome {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--img{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(9, 5vh);

            img {
                grid-row: 2 / 9;
                grid-column: 2 / 6;
                width: 100%;
                height: auto;
                object-fit: cover;
                // test this
                display: block;
                border-radius: 5px;

            }
        }
    }

    &__content {


    }
}

#github-header-link a {
    text-decoration: none;
    color: $color-highlight-primary;
    transition: .3s ease-in-out;

    &:hover {
        color: $color-highlight-primary-light;
    }
}