// Color Variables
$color-heading: #3A3A3A;
$color-paragraph: #474747;
$color-link: #555;

$color-highlight-primary: #575edb;
$color-highlight-primary-light: #9498e8;
$color-highlight-secondary: #e5bcff;
$color-highlight-yellow: #ffc456;

// Font Variables
$font-primary: 'Roboto', sans-serif;


// Responsive Breakpoints
$bp-largest: 75em;   // 1200px
$bp-large: 65.625em;   // 1050px
$bp-medium: 55.321em;    // 885px;
$bp-small: 42.81em;    // 685px;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
 box-sizing: border-box;
 font-size: 62.5%; // 10px /16px -> 1rem = 10px

 @media only screen and (max-width: $bp-largest) {
     font-size: 55%;
    }

}

body {
    font-family: $font-primary;
    color: $color-paragraph;
    font-weight: 400;
    line-height: 1.6;

    @media only screen and (max-width: $bp-large) {
        padding: 5vw;
    }

}

.container {
    display: grid;
    grid-row-gap: 5vh;
    grid-template-rows: 5vh 90vh min-content repeat(3, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] 1fr [full-end];

    @media only screen and (max-width: $bp-large) {
    grid-template-rows: 5vh 90vh min-content repeat(3, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] 1fr [full-end];
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 5vh 1fr min-content repeat(3, min-content);
        grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] 1fr [full-end];
    }
}


// Notes
// Using min-content will provide just the right amount of space for specified rows
// This page site uses 8 grid comlumns, with each column having a max size of 14rem, and a minimum size of min-content