.header {
    grid-column: center-start / center-end;
    grid-row: 1;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;

    &__logo { 

    }

    &__nav {

        
        &__list {
            display: flex;

            &--element {
                margin-left: 6rem;
                list-style: none;
                transition: .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $color-highlight-primary;
                }
            }
        }
    }
}