.portfolio {
    grid-column: center-start / center-end;
    grid-row: 4;

    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 8vh;

    &__header {
        grid-row: 1;
    }

    &__projects {
        grid-row: 2;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5vw;
        grid-row-gap: 5vh;

        @media only screen and (max-width: $bp-small) {
            grid-template-rows: min-content 1fr min-content 1fr min-content 1fr;
            grid-template-columns: 1fr;
            // border: 1px dotted teal;
            align-content: center;
            grid-row-gap: 2vh;
        }

        &--one {
            grid-row: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: auto;
                max-width: 40rem;
                object-fit: cover;
                border-radius: 1.5rem;

                -webkit-box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                -moz-box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                transition: all .3s ease;
                cursor: pointer;

                &:hover {
                    transform: translateY(-5px);
                }
            }

            &-description {
                grid-row: 1;
                grid-column: 2;

                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            @media only screen and (max-width: $bp-small) {

                grid-row: 2;
                // border: 1px solid blue;
                grid-column: 1;


                &-description {
                    grid-column: 1;
                    grid-row: 1;
                    // border: 1px solid blue;
                    align-items: center;
                }
            }
        }

        &--two {
            grid-row: 2;
            grid-column: 2;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: auto;
                max-width: 50rem;
                object-fit: cover;
                border-radius: 1.5rem;

                -webkit-box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                -moz-box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                transition: all .3s ease;
                cursor: pointer;


                &:hover {
                    transform: translateY(-5px);
                }
            } 

            &-description {
                grid-column: 1;
                grid-row: 2;

                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            @media only screen and (max-width: $bp-small) {
                grid-row: 4;
                grid-column: 1;
                // border: 1px solid blue;

                &-description {
                margin-top: 10vh;
                grid-column: 1;
                grid-row: 3;
                align-items: center;
                // border: 1px solid blue;
                }
            }
        }

        &--three {
            grid-row: 3;
            grid-column: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: auto;
                max-width: 30rem;
                object-fit: cover;
                border-radius: 1.5rem;

                -webkit-box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                -moz-box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                box-shadow: 0px 3px 17px 3px rgba(0,0,0,0.05);
                transition: all .3s ease;
                cursor: pointer;


                &:hover {
                    transform: translateY(-5px);
                }
            } 

            &-description {
                grid-column: 2;
                grid-row: 3;

                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            @media only screen and (max-width: $bp-small) {
                grid-row: 6;
                grid-column: 1;
                // border: 1px solid blue;
    
                &-description {
                margin-top: 10vh;
                grid-row: 5;
                grid-column: 1;
                align-items: center;
                // border: 1px solid blue;
                }
            }
        }
    }
}